# How to Combine Data in Python Using Pandas

Goal: learn how to combine two datasets using `merge` function

I will show you how to:
1. Load files
2. Merge files using `merge()` function - combines data on common columns or indices
3. Understand the four types of `joins`:
    * Inner - keeps rows that matches from both data frames 
    * Outer - keeps all rows from both data frames. NaN's are used to fill any blanks
    * Left - keep all rows on the Left side, add rows from the Right side if matches
    * Right - Keep all rows on the Right side, add data from the Left side if matches

In [1]:
# Import Libraries

import pandas as pd

In [2]:
# Load datasets - Movie Lens from Kaggle

movies = pd.read_csv("Data/movies.csv")
ratings = pd.read_csv("Data/ratings.csv")

In [3]:
# Inspect the data frames

movies.head() # print the first five rows

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Check the dimensions
movies.shape # 9742 rows, 3 columns

(9742, 3)

In [5]:
# Inspect the ratings data frame
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
# Check the dimensions
ratings.shape #100836 rows, 4 columns

(100836, 4)

# Inner Join

* Use the `merge()` function to create an inner join
* Inner join you will lose rows that are not matching in the other data frame's key colum (movieId)

In [ ]:
# Syntax for a merge

# pd.merge(left_dataframe, right_dataframe, on = "some_column(s)", how = "left, right, inner, outer") - by default, 
# Pandas will use the 'inner' method.

In [7]:
# Inner merge

inner_merge_df = pd.merge(movies, ratings)

In [8]:
# Inspect the new data frame

inner_merge_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [9]:
# Let's check the size of the new df

inner_merge_df.shape #100836 rows, 6 columns

(100836, 6)

# Specify the column(s) to join `on`

In [10]:
# Specify the movieId 

inner_merge_df2 = pd.merge(movies, ratings, on = ["movieId"])

In [11]:
# Inspect
inner_merge_df2.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [12]:
# Shape
inner_merge_df2.shape

(100836, 6)

# Outer Join (also known as full outer join)

Specify an `outer` join using the `how` parameter. Keep all rows, if no matching based on the ID column, then we will get NaNs.

In [13]:
outer_merge_df = pd.merge(movies, ratings, how = "outer", on = ["movieId"])

In [14]:
# Inspect the new df
outer_merge_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [15]:
outer_merge_df.shape

(100854, 6)

# Left Join also known as left outer join

In [16]:
left_merge_df = pd.merge(movies, ratings, how = "left", on = ["movieId"])

In [17]:
# Inspect
left_merge_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [18]:
# Shape
left_merge_df.shape

(100854, 6)

Run the same code, but change the positions of the data frames

In [19]:
left_merge_reversedf = pd.merge(ratings, movies, how = "left", on = ["movieId"])

In [20]:
# Inspect
left_merge_reversedf.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [21]:
# Shape
left_merge_reversedf.shape

(100836, 6)

# Right Join also known as right outer join. Same as the left join.

In [22]:
right_merge_df = pd.merge(ratings, movies, how = "right", on = ["movieId"])

In [23]:
# Inspect
right_merge_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

The difference between the right and left join is the order of the columns. The first data column will be the first in the new data frame

In [24]:
# Shape
right_merge_df.shape

(100854, 6)

Data source from: https://www.kaggle.com/shubhammehta21/movie-lens-small-latest-dataset?select=movies.csv
Cite: F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4: 19:1â€“19:19. <https://doi.org/10.1145/2827872>